.card {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue_1);
  height: 96px;
  cursor: pointer;
  user-select: none;
}

.card:hover {
  opacity: 90%;
}

.icon {
  fill: var(--font_4);
  width: 64px !important;
  height: 64px !important;
  margin-right: 10px;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.title {
  color: var(--font_4);
  text-align: end;
  margin: 0;
}
